{% extends 'base.html.twig' %}

{% block title %}New Building{% endblock %}

{% block body %}
    <h3 class="text-center">Nouveau bâtiment</h3>

    {{ include('place/building/_form.html.twig') }}

{% endblock %}
