{% extends 'base.html.twig' %}

{% block title %}Gestion de Prestation{% endblock %}

{% block body %}

    <div class="container bg-white border-primary">
        <h1 class="text-center py-3">Mise à jour d'une prestation</h1>
        {{ include ("hospitalization/care/_form.html.twig", {'button_label': 'Editer'}) }}
        {{ include ("hospitalization/care/_delete.html.twig") }}
    </div>

{% endblock %}
