{% extends 'base.html.twig' %}

{% block title %}Edit Facture{% endblock %}

{% block body %}
    <h1>Edit Facture</h1>

    {{ include('facturation/facture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('facturation_facture_index') }}">back to list</a>

    {{ include('facturation/facture/_delete_form.html.twig') }}
{% endblock %}
