{% extends 'base.html.twig' %}

{% block title %}Gestion type de soin{% endblock %}

{% block body %}

    <h3 class="text-center text-success">Edition de type de soin</h3>
    {{ include('hospitalization/type_care/_form.html.twig') }}
    
{% endblock %}
