{% extends 'base.html.twig' %}

{% block title %}Nouveau lit{% endblock %}

{% block body %}
    <h3 class="text-center text-info">Enregistrement d'un nouveau lit</h3>
    {{ include('place/bed/_form.html.twig') }}
{% endblock %}
