{% extends 'base.html.twig' %}

{% block title %}New Bedroom{% endblock %}

{% block body %}

    <h3 class="text-info text-center">Enregistrement d'une nouvelle chambre</h3>
    {{ include('place/bedroom/_form.html.twig') }}

{% endblock %}
